{% extends 'frontend/frontendbase.html.twig' %}

{% block title %}Accueil | Bresil Burger {% endblock %}

{% block body %}
    <!-- slider -->
    <section class="about-us-slider swiper-container p-relative slider-banner-1">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-item">
                <img src="assets/img/banner/banner1.jpg" class="img-fluid full-width" alt="Banner">
                <div class="transform-center z-index-3">
                    <div class="container-fluid custom-container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 align-self-center">
                                <div class="right-side-content far-right">
                                    <h5 class="text-white">Around the world.</h5>
                                    <h1 class="text-white fw-600">We help all <span class="text-custom-pink">people</span> in need</h1>
                                    <p class="text-white fw-400">Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish
                                        shortnose greeneye fusilier fish silver carp nibbler sharksucker tench lookdown catfish</p>
                                    <a href="#" class="btn-solid with-line btn-big mt-20 mr-1"><span>Explore <i class="fas fa-caret-right"></i></span></a>
                                    <a href="#" class="border-butn mt-20 ml-1"><span>Shop Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg-dark overlay-bg-img"></div>
            </div>
            <div class="swiper-slide slide-item">
                <img src="assets/img/banner/banner2.jpg" class="img-fluid full-width" alt="Banner">
                <div class="transform-center z-index-3">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 align-self-center">
                                <div class="right-side-content text-center">
                                    <h5 class="text-white">Around the world.</h5>
                                    <h1 class="text-white fw-600">Our Helping <span class="text-custom-pink">people</span> in need</h1>
                                    <p class="text-white fw-400">Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish
                                        shortnose greeneye fusilier fish silver carp nibbler sharksucker tench lookdown catfishf</p>
                                    <a href="#" class="btn-solid with-line btn-big mt-20 mr-1"><span>Shop Now <i class="fas fa-caret-right"></i></span></a>
                                    <a href="#" class="border-butn mt-20 ml-1"><span>Learn More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg-dark overlay-bg-img"></div>
            </div>
            <div class="swiper-slide slide-item">
                <img src="assets/img/banner/banner3.jpg" class="img-fluid full-width" alt="Banner">
                <div class="transform-center z-index-3">
                    <div class="container-fluid custom-container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12 align-self-center">
                                <div class="left-side-content">
                                    <h5 class="text-white">Around the world.</h5>
                                    <h1 class="text-white fw-600">Our Helping <span class="text-custom-pink">people</span> in need</h1>
                                    <p class="text-white fw-400">Gray eel-catfish longnose whiptail catfish smalleye squaretail queen danio unicorn fish
                                        shortnose greeneye fusilier fish silver carp nibbler sharksucker tench lookdown catfishf</p>
                                    <a href="#" class="btn-solid with-line btn-big mt-20 mr-1"><span>Learn More <i class="fas fa-caret-right"></i></span></a>
                                    <a href="#" class="border-butn mt-20 ml-1"><span>Shop Now</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg-dark overlay-bg-img"></div>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </section>
    <!-- slider -->
    <section class="service-type">
        <div class="row">
            <div class="col-lg-3 col-md-6 bg-custom-1 border-custom-right border-sm-bottom">
                <div class="service-box">
                    <div class="service-box-wrapper">
                        <div class="service-icon-box">
                            <img src="assets/img/help.svg" alt="" class="img-fluid">
                        </div>
                        <div class="service-text-box">
                            <h6>Burgers</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 bg-custom-2 border-custom-right border-sm-bottom">
                <div class="service-box">
                    <div class="service-box-wrapper">
                        <div class="service-icon-box">
                            <img src="assets/img/money.svg" alt="" class="img-fluid">
                        </div>
                        <div class="service-text-box">
                            <h6>Menus</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 bg-custom-3 border-custom-right border-sm-bottom">
                <div class="service-box">
                    <div class="service-box-wrapper">
                        <div class="service-icon-box">
                            <img src="assets/img/investor.svg" alt="" class="img-fluid">
                        </div>
                        <div class="service-text-box">
                            <h6>Boissons</h6>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 bg-custom-4">
                <div class="service-box">
                    <div class="service-box-wrapper">
                        <div class="service-icon-box">
                            <img src="assets/img/cash.svg" alt="" class="img-fluid">
                        </div>
                        <div class="service-text-box">
                            <h6>Frites</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Browse by category -->
    <section class="browse-cat bg-theme-primary section-padding">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header-left title">
                        <h3 class="text-light-black header-title">Menu du Jour </h3>
                        <span class="fs-16 align-self-center"><a href="#">Voir Tout</a></span>
                    </div>
                </div>
                <div class="col-12">
                    <div class="category-slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="story-grid.html" class="categories">
                                    <div class="icon text-custom-white bg-light-green ">
                                        <img src="assets/img/categories/category3.png" class="rounded-circle" alt="categories">
                                    </div> <span class="text-light-black cat-name">Adem, LA</span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="story-grid.html" class="categories">
                                    <div class="icon text-custom-white bg-light-green ">
                                        <img src="assets/img/categories/category4.png" class="rounded-circle" alt="categories">
                                    </div> <span class="text-light-black cat-name">Jimmy, CA</span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="story-grid.html" class="categories">
                                    <div class="icon text-custom-white bg-light-green ">
                                        <img src="assets/img/categories/category9.png" class="rounded-circle" alt="categories">
                                    </div> <span class="text-light-black cat-name">Ricky, LA</span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="story-grid.html" class="categories">
                                    <div class="icon text-custom-white bg-light-green ">
                                        <img src="assets/img/categories/category8.png" class="rounded-circle" alt="categories">
                                    </div> <span class="text-light-black cat-name">Casendra, LA</span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="story-grid.html" class="categories">
                                    <div class="icon text-custom-white bg-light-green ">
                                        <img src="assets/img/categories/category9.png" class="rounded-circle" alt="categories">
                                    </div> <span class="text-light-black cat-name">Rob, CA</span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="story-grid.html" class="categories">
                                    <div class="icon text-custom-white bg-light-green ">
                                        <img src="assets/img/categories/category8.png" class="rounded-circle" alt="categories">
                                    </div> <span class="text-light-black cat-name">Mily, TX</span>
                                </a>
                            </div>
                            <div class="swiper-slide">
                                <a href="story-grid.html" class="categories">
                                    <div class="icon text-custom-white bg-light-green ">
                                        <img src="assets/img/categories/category9.png" class="rounded-circle" alt="categories">
                                    </div> <span class="text-light-black cat-name">Rob, NY</span>
                                </a>
                            </div>
                        </div>

                        <!-- Add Arrows -->
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Browse by category -->
    <!-- sell section -->
    <section class="recent-order section-padding">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header-left title">
                        <h3 class="text-light-black header-title">Help Us Fund Our Campaign</h3>
                        <span class="fs-16"><a href="order-details.html">See All Bestseller</a></span>
                    </div>
                </div>
                {% for i in 0..7 %}
                    <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                        <div class="product-box mb-md-20">
                            <div class="product-img">
                                <a href="shop-details.html">
                                    <img src="assets/img/shop/product1.jpg" class="img-fluid full-width" alt="product-img">
                                </a>
                                <div class="product-badge">
                                    <div class="product-label new"> <span>Veg</span>
                                    </div>
                                </div>
                                <div class="button-group"> <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to wishlist" tabindex="-1"><i class="pe-7s-like"></i></a>
                                    <a href="#" data-toggle="modal" data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="" data-original-title="Quick View"><i class="pe-7s-search"></i></span></a>
                                </div>
                                <div class="cart-hover">
                                    <a href="shop-details.html" class="btn-cart  fw-600" tabindex="-1">Add To Cart</a>
                                </div>
                            </div>
                            <div class="product-caption text-center">

                                <h6 class="product-title fw-500 mt-10"><a href="shop-details.html" class="text-color-secondary">Fancy Wallet</a></h6>
                                <div class="product-money mt-10"> <span class="text-color-primary fw-600 fs-16">CFCA 63.00</span>
                                    <span class="text-price">CFCA250.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
    <!-- sell section end -->
    <section class="section-padding our-product">
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-12">
                    <div class="section-header-left">
                        <h3 class="text-light-black header-title title"> Help us fund our campaigns</h3>
                    </div>
                </div>
                <div class="col-xl-9 col-lg-8 col-md-8">
                    <div class="row">
                        {% for i in 0..5 %}
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6">
                                <div class="product-box mb-md-20">
                                    <div class="product-img">
                                        <a href="shop-details.html">
                                            <img src="assets/img/shop/product1.jpg" class="img-fluid full-width" alt="product-img">
                                        </a>
                                        <div class="product-badge">
                                            <div class="product-label new"> <span>Veg</span>
                                            </div>
                                        </div>
                                        <div class="button-group"> <a href="wishlist.html" data-toggle="tooltip" data-placement="left" title="" data-original-title="Add to wishlist" tabindex="-1"><i class="pe-7s-like"></i></a>
                                            <a href="#" data-toggle="modal" data-target="#quick_view"><span data-toggle="tooltip" data-placement="left" title="" data-original-title="Quick View"><i class="pe-7s-search"></i></span></a>
                                        </div>
                                        <div class="cart-hover">
                                            <a href="shop-details.html" class="btn-cart  fw-600" tabindex="-1">Add To Cart</a>
                                        </div>
                                    </div>
                                    <div class="product-caption text-center">

                                        <h6 class="product-title fw-500 mt-10"><a href="shop-details.html" class="text-color-secondary">Fancy Wallet</a></h6>
                                        <div class="product-money mt-10"> <span class="text-color-primary fw-600 fs-16">CFCA 63.00</span>
                                            <span class="text-price">CFCA250.00</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-4">
                    <div class="verticle-newsletter bg-custom-white main-box">
                        <div class="verticle-newsletter-inner">
                            <h6 class="text-light-black">Subscribe To Newsletter</h6>
                            <p class="text-light-white mb-xl-20">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <div class="group-form mb-xl-20">
                                <div class="input-group">
                                    <input type="email" name="#" class="form-control form-control-submit">
                                    <div class="input-group-append">
                                        <button>Subscribe</button>
                                    </div>
                                </div>
                            </div>
                            <div class="register-info-box text-center">
                                <div class="icon-sec">
                                    <i class="pe-7s-id"></i>
                                </div>
                                <h6><a href="#" class="text-light-black">Register to Vote</a></h6>
                                <p class="text-light-white mb-0">Lorem Ipsum is simply dummy text.</p>
                            </div>
                        </div>
                        <div class="verticle-newsletter-img">
                            <img src="assets/img/register.jpg" class="image-fit" alt="img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--shopping end section-->

{% endblock %}
