{% extends 'backend/backendbase.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1>Create new Category</h1>

    {{ include('backend/pages/crud_category/_form.html.twig') }}

    <a href="{{ path('crud_category_index') }}">back to list</a>
{% endblock %}
