<!-- breadcrumb -->
<div class="breadcrumb-area">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="breadcrumb-content">
            <h2>{{ title }}</h2>
            <ul>
                <li><a href="{{ path('home') }}">Home</a>
                </li>
                <li class="active">{{ title }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- breadcrumb -->