<!-- END Subscriber -->
<!-- footer -->
<footer class="section-padding bg-light-theme pt-0 u-line bg-custom-primary">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-contact">
                    <h6 class="text-custom-white">About Us</h6>
                    <div class="logo mb-xl-20">
                        <a href="#">
                            <img src="/assets/img/logo.png" class="img-fluid" alt="img">
                        </a>
                    </div>
                    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Get to Know Us</h6>
                    <ul>
                        <li><a href="about.html" class="text-white fw-500">About Us</a>
                        </li>
                        <li><a href="blog-left.html" class="text-white fw-500">Blog</a>
                        </li>
                        <li><a href="#" class="text-white fw-500">Socialize</a>
                        </li>
                        <li><a href="index.html" class="text-white fw-500">Ecom</a>
                        </li>
                        <li><a href="#" class="text-white fw-500">Perks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Get to Know Us</h6>
                    <ul>
                        <li><a href="about.html" class="text-white fw-500">About Us</a>
                        </li>
                        <li><a href="blog-details.html" class="text-white fw-500">Blog</a>
                        </li>
                        <li><a href="#" class="text-white fw-500">Socialize</a>
                        </li>
                        <li><a href="index.html" class="text-white fw-500">Ecom</a>
                        </li>
                        <li><a href="#" class="text-white fw-500">Perks</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl col-lg-4 col-md-4 col-sm-6">
                <div class="footer-links">
                    <h6 class="text-custom-white">Contact info</h6>
                    <ul class="contact-info">
                        <li>
                            <a href="#" class="text-white"> <span><i class="pe-7s-timer"></i></span>
                                Monday - Friday: 9:00 AM - 06:00 PM</a>
                        </li>
                        <li>
                            <a href="#" class="text-white"> <span><i class="pe-7s-mail"></i></span>
                                info@example.com</a>
                        </li>
                        <li>
                            <a href="#" class="text-white"> <span><i class="pe-7s-call"></i></span>
                                (+348) 123 456 7890</a>
                        </li>
                        <li>
                            <a href="#" class="text-white"> <span><i class="pe-7s-map-marker"></i></span>
                                (+348) 123 456 7890</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="copyright bg-black">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-lg-4">
                <div class="payment-logo mb-md-20">
                    <div class="payemt-icon">
                        <img src="/assets/img/footer-bottom-img.png" alt="#">
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-center medewithlove align-self-center"> <a href="http://www.metropolitanhost.com" class="text-custom-white">Made with Real <i class="fas fa-heart"></i> Metropolitanthemes</a>
            </div>
            <div class="col-lg-4">
                <div class="copyright-text"> <span class="text-white">© <a href="#" class="text-white">Metropolitanthemes</a> - 2020 | All Right Reserved</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer -->
