<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="#">
    <meta name="description" content="#">

    <title>{% block title %}BRESIL BURGER!{% endblock %}</title>
    {% block stylesheets %}
        {% include('frontend/includes/link.html.twig') %}
    {% endblock %}


</head>
<body>
{% include('frontend/includes/header.html.twig') %}
<div class="main-sec"></div>

{% block body %}

{% endblock %}

{% include('frontend/includes/sucscriber.html.twig') %}
{% include('frontend/includes/footer.html.twig') %}
{% block javascripts %}
    {% include('frontend/includes/script.html.twig') %}
{% endblock %}

</body>
</html>
