<!-- footer content -->
<footer>
    <div class="pull-right">
        BRESIL BURGER by <a href="http://jacques.agencecauris.com">Esse Jacques Dansomon</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->