{% extends 'backend/backendbase.html.twig' %}

{% block title %}New Burger{% endblock %}

{% block body %}
    <h1>Create new Burger</h1>

    {{ include('backend/pages/crud_burger/_form.html.twig') }}

    <a href="{{ path('crud_burger_index') }}">back to list</a>
{% endblock %}
